<div id="<%= dom_id post %>">
  
  <div class="col-3">
    <div class="card">
      <%= image_tag post.images[0], class: 'card-img-top' %>
      <div class="card-body">       
             
          <%= post.leyenda %>
      
      </div>
    </div>
  </div>
</div>
