<h1 class="d-flex justify-content-center fst-italic py-4" style="color: #665D1E">Kari photography</h1>

<p class="d-flex justify-content-end">*Click the photo for details</p>

<div id="posts">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-6"> 
        <%= render post %>               
      </div>
    <% end %>
  </div>
</div>